
.field-oembed-preview {
  position:         relative;
  min-height:       45px;
  background-color: #ddd;
  border:           2px solid #ddd;
  border-top-width: 0;
}

.field-oembed-preview__bucket {
  transition: opacity .5s;
  text-align: center;
}

.field-oembed-preview__bucket iframe,
.field-oembed-preview__bucket object {
  margin-right: auto;
  margin-left:  auto;
}

.field-oembed-preview__bucket .kirby-plugin-oembed--rich {
  padding: .6em;
}

.field-oembed-preview__bucket .kirby-plugin-oembed--error {
  padding:     .6em;
  font-size:   .75em;
  font-weight: 600;
}

.field-oembed-preview__bucket .kirby-plugin-oembed--error > span {
  display:     block;
  font-weight: 400;
}

.field-oembed-preview__label {
  display:     none;
  position:    absolute;
  top:         50%;
  left:        50%;
  transform:   translate(-50%, -50%);
  font-weight: 600;
  font-size:   .8em;
}

.field-oembed-preview__bucket:empty ~ .field-oembed-preview__label {
  display: block;
}
