.oembed-video {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}

.oembed-video iframe,
.oembed-video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.oembed-video .thumb {
  cursor: pointer;
}

.oembed-video iframe,
.oembed-video object {
  display: none;
}
